.header{
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: black;
  font-family: Orbitron;
  font-size: 5vw;
  padding-bottom: 15px;
  box-shadow: 0px 1px 5px rgb(204, 204, 38);
  color: rgb(214, 199, 61);
  z-index: 100;
}

@media (max-width:1000px){
    .header {
        padding-top: 15px;
        font-size: 6.4vw;
    }
}